#contact {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 40px;

  > .title {
    text-align: center;
    font-size: 52px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  > .underline {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;

    &.full {
      width: 100%;
    }
  }

  > .contact-item {
    padding: 10px;
    display: flex;

    > a {
      color: black;
    }

    > .contact-logo {
      height: 24px;
      padding-right: 10px;
    }
  }

  > .download-btn {
    width: 180px;
    height: 55px;
    margin: 10px;
    color: white;
    background-color: black;
  }
}
