<div id="portfolio" class="responsive-width">
  <hr class="underline full">
  <h1 class="title">Portfolio</h1>
  <hr class="underline">

  <!-- Desktop design -->
  <mat-grid-list class="grid" cols="4" gutterSize="50px" *ngIf="!(isHandset | async)">
    <mat-grid-tile class="project-tile" *ngFor="let project of projects">
      <a (click)="openProject(project.url)">
        <div class="titles">
          <p class="project-title">{{project.title}}</p>
          <hr class="underline">
          <p class="project-year">{{project.year}}</p>
          <p class="project-category">{{project.category}}</p>
        </div>
        <img [src]="project.logo" class="project-logo">
      </a>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Mobile Design -->
  <mat-action-list *ngIf="isHandset | async">
    <button *ngFor="let project of projects" (click)="openProject(project.url)" mat-list-item>
      <img [src]="project.logo" class="project-logo"/>
      <p class="project-title" mat-line>{{project.title}}</p>
      <p class="project-year" mat-line>{{project.year}}</p>
      <p class="project-category" mat-line>{{project.category}}</p>
    </button>
  </mat-action-list>
</div>