<div class="about">
  <div class="main-image">
    <!-- TODO: Replace with real image. -->
    <img src="../../assets/img/about-main.jpg" />
  </div>

  <div class="about-content-text">
    <h1 class="title">About</h1>
    <!-- TODO: Replace with real text. -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in ante ac arcu imperdiet commodo. Ut vel malesuada mi. Nullam convallis efficitur scelerisque. Proin tempor orci ut arcu dictum, quis gravida risus porttitor. Maecenas mattis eros sed diam pharetra scelerisque sed id urna. Quisque vel felis elementum, consequat justo ut, condimentum justo. In vitae egestas risus, nec bibendum sapien. Integer id semper ipsum. Praesent sed turpis neque. Etiam interdum vulputate mauris, in laoreet odio efficitur vitae. Duis dictum risus eget massa malesuada pellentesque. Quisque vehicula augue quis interdum pretium. Ut sed sem rutrum, malesuada quam vitae, accumsan leo. Nulla facilisi. In venenatis lectus quis nibh sollicitudin viverra.</p>
    <p>Nulla vitae tortor varius, pulvinar dolor non, imperdiet lacus. Donec convallis mauris nibh, vel consequat nisi fermentum sed. Curabitur porta, enim id efficitur posuere, ipsum erat lacinia massa, at consequat erat mauris placerat urna. Fusce fringilla lorem et ipsum imperdiet tempor. Sed hendrerit metus ut risus ullamcorper, vitae vestibulum lectus fermentum. Ut aliquet laoreet augue, ut gravida augue ornare sit amet. In consectetur pharetra mauris non ultricies. Praesent scelerisque elementum sapien faucibus dignissim. Mauris vestibulum, erat vitae consequat placerat, nibh quam pulvinar risus, eget mattis purus ante at orci. Sed non ultricies velit. Sed in auctor urna, ut posuere elit. Morbi luctus arcu ut ante dapibus, at dignissim erat bibendum.</p>
    <p>Duis eget ullamcorper justo, sed varius velit. Maecenas ac odio lobortis lacus sagittis mollis. Cras dignissim eget ipsum ut aliquet. Donec pellentesque dapibus metus, eu molestie tellus. Nullam aliquet diam dui, ac imperdiet turpis rhoncus ut. Sed ac iaculis massa. Maecenas rhoncus molestie aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas rutrum, orci et ultricies consequat, ex metus pellentesque justo, quis fermentum ante odio at arcu. Aenean sem lectus, pretium cursus augue eget, porttitor viverra ex. Aenean elementum nibh quam. Cras varius eget sem a venenatis.</p>
  </div>

  <div class="about-content-images">
    <!-- TODO: Replace with real images. -->
    <img src="../../assets/img/placeholder.jpg" />
    <img src="../../assets/img/placeholder.jpg" />
    <img src="../../assets/img/placeholder.jpg" />
  </div>
</div>