@import '../../../styles/variables.scss';

#portfolio {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  mat-action-list {
    > button {
      text-align: left;
      height: 100px;
      margin: 20px 0 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 2px;
      overflow: hidden;

      .project-logo {
        height: 100%;
        margin-right: 20px;
      }
    }
  }

  .underline {
    width: 50%;
    margin: 0;
    background-color: white;

    &.full {
      width: 100%;
    }
  }

  mat-action-list {
    > button {
      text-align: left;
      height: 100px;
      margin: 20px 0 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 2px;
      overflow: hidden;

      .project-logo {
        height: 100%;
        margin-right: 20px;
      }
    }
  }

  > .title {
    text-align: center;
    margin: 40px 0 0;
  }

  .project-subtitle {
    font-weight: 300;
  }

  .project-tile {
    text-align: center;
    transition: transform .2s;

    a {
      height: 100%;
      width: 100%;

      > .project-logo {
        height: 100%;
      }

      > .titles {
        height: 100%;
        width: 100%;
        padding: 5px;
        opacity: 0;
        font-size: 1vw;
        font-weight: 300;
        color: white;
        text-transform: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $laptop-screen-large + 1) {
          font-size: 16px;
        }

        .project-title {
          font-size: 1.5vw;

          @media screen and (min-width: $laptop-screen-large + 1) {
            font-size: 20px;
          }
        }

        .project-year {
          margin: 5px;
        }

        .project-category {
          margin: 0;
        }

        > .project-year {
          margin: 5px;
        }
      }
    }


    &:hover {
      transform: scale(1.5);
      z-index: 1;
      cursor: pointer;

      .titles {
        opacity: 1 !important;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .project-title {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }

  > .thesis-logo-button {
    display: inline-block;
    background: cover;
    margin: 20px 0 50px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    > img {
      width: 100%;
    }

    > .hover-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      transition: opacity .2s;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }

      > [class^="project-"] {
        font-size: 40px;
      }

      > .project-category {
        margin: 0;
      }

      > .project-title, > .project-year {
        margin-bottom: 10px;
      }
    }
  }
}
