#contact {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  > .title {
    text-align: center;
    font-size: 52px;
    margin-bottom: 0;
  }

  > .underline {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;

    &.full {
      width: 100%;
    }
  }
}
