.form-card {
  width: 400px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  > .header {
    > .title {
      text-align: center;
      font-size: 36px;
    }
  }

  > .form-container {
    display: flex;
    flex-direction: column;

    > .submit-btn {
      height: 70px;
      font-size: 24px;
      font-family: 'Josefin Sans', sans-serif;
      background-color: black;
      color: white;

      &.disabled {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
