$mobile-screen-small: 320px;
$mobile-screen-medium: 375px;
$mobile-screen-large: 425px;
$tablet-screen-normal: 768px;
$laptop-screen-normal: 1024px;
$laptop-screen-large: 1440px;
$desktop-screen-4k: 2560px;

$toolbar-height: 64px;
