<div id="portfolio">
  <hr class="underline full">
  <h1 class="title">Projects</h1>
  <hr class="underline">

  <mat-grid-list class="grid" cols="4" gutterSize="20px">
    <mat-grid-tile class="project-tile" *ngFor="let project of projects">
      <a (click)="openProject(project.url)">
        <div class="titles">
          <p class="project-title">{{project.title}}</p>
          <hr class="underline">
          <p class="project-year">{{project.year}}</p>
          <p class="project-category">{{project.category}}</p>
        </div>
        <img [src]="project.logo" class="project-logo">
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>