.portfolio {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  .title {
    text-align: center;
  }
  
  .project-title {
    opacity: 0;
    font-size: 22px;
    font-weight: 500;
  }

  .project-tile {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
    &:hover {
      transition: transform .2s;
      transform: scale(1.2);
      .project-title {
        opacity: 1
      }
    }
  }

  .grid {
  }
}
