#about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .form-card {
    width: 600px;
  }

  > .lock-toggle {
    display: flex;
    align-content: center;
    margin-bottom: 20px;

    > .label {
      margin-right: 5px;
    }
  }
}
