<mat-toolbar class="nav-toolbar" color="primary">
  <a routerLink="" class="nav-logo">
    <img src="../../assets/img/logo-white.png">
  </a>

  <div class="nav-links">
    <a routerLink="" class="nav-link-item">Home</a>
    <a routerLink="/home" fragment="about" class="nav-link-item">About</a>
    <a routerLink="/home" fragment="portfolio" class="nav-link-item">Portfolio</a>
    <a routerLink="/home" fragment="contact" class="nav-link-item">Contact & CV</a>
  </div>

  <div class="nav-links-padding"></div>
</mat-toolbar>
