
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import '~bootstrap/dist/css/bootstrap.min.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$parthenon-primary: mat-palette($mat-indigo);
$parthenon-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$parthenon-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$parthenon-theme: mat-light-theme($parthenon-primary, $parthenon-accent, $parthenon-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($parthenon-theme);

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';

html, body {
  height: 100%;
  min-width: $mobile-screen-medium;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
}

h1 {
  font-weight: 300;
  font-size: 40px;
}

h2, h3 {
  font-weight: 300;
}

a {
  font-weight: 300;
}

button {
  font-weight: 300;
}

.responsive-width {
  max-width: 900px;
  width: 70%;

  @media screen and (max-width: $tablet-screen-normal) {
    width: 90%;
  }
}

// ========================================================================= //
// Carousel Slide Animation
// ========================================================================= //
ngb-carousel {
  width: inherit;
  height: inherit;

  &:focus {
    outline: none;
  }
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
  position: absolute;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
   z-index: 20;
}


.carousel-control-next {
   z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}

// ========================================================================= //
// Angular Material Custom Styles
// ========================================================================= //

// Card
// ========================================================================= //
.mat-card {
  padding: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

  > button {
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: white;

    > img {
      max-width: 100%;
      margin: 0;
      margin-bottom: 16px;
    }

    > .mat-card-content {
      margin: 0 16px 16px;
    }

    .mat-card-header-text {
      margin: 0 auto !important;
      font-family: 'Josefin Sans', sans-serif;

      > .mat-card-title {
        margin-top: 12px;
      }
    }
  }
}

// List
// ========================================================================= //
.mat-list-item-content {
  padding: 0 !important;
}

.mat-list-text {
  order: 1;
}

.mat-line {
  font-weight: 300;
}

// Menu
// ========================================================================= //
.menu-custom-backdrop {
  background-color: black !important;
  opacity: 0.4 !important;
  transition: opacity 4s ease-in-out !important;
}

.cdk-overlay-pane {
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;

  .menu-custom-container {
    max-height: 100% !important;
    width: 100% !important;
    border-radius: 0 !important;

    button {
      font-weight: 300;
      &:focus {
        outline: none;
      }
    }
  }
}

// Toolbar
// ========================================================================= //
mat-toolbar {
  font-weight: 300 !important;
}
