<div id="project">

  <div class="lock-toggle">
    <span class="label">Edit Project</span>
    <mat-slide-toggle [checked]="isEditingMode" (change)="toggleEditingState()"></mat-slide-toggle>
  </div>

  <div class="form-card">
    <div class="header">
      <h1 class="title">Project</h1>
    </div>

    <form [formGroup]="projectForm" (ngSubmit)="submitForm()" class="form-container">
      <div class="form-section-title">Project Details</div>
      <mat-form-field appearance="outline">
        <mat-label>Project Title</mat-label>
        <input matInput placeholder="e.g. Parthenon" formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Year</mat-label>
        <input matInput placeholder="e.g. 2019" formControlName="year">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input matInput placeholder="e.g. Architecture Design" formControlName="category">
      </mat-form-field>

      <div class="form-section-title">Brief</div>
      <div formArrayName="brief">
        <div class="paragraphs" *ngFor="let paragraph of brief.controls; let i = index">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Brief paragraph {{i+1}}</mat-label>
            <textarea
              placeholder="e.g. This project is about..."
              [formControlName]="i"
              cdkTextareaAutosize
              matInput>
            </textarea>
          </mat-form-field>
          <button
            type="button"
            class="field-control-btn add-btn"
            (click)="addBriefParagraph(i+1)"
            [disabled]="!isEditingMode"
            [class.disabled]="!isEditingMode"
            matTooltip="Add new paragraph below"
            mat-mini-fab>
            <mat-icon>add</mat-icon>
          </button>
          <button
            type="button"
            class="field-control-btn"
            (click)="deleteBriefParagraph(i)"
            *ngIf="brief.length > 1"
            color="warn"
            [disabled]="!isEditingMode"
            [class.disabled]="!isEditingMode"
            matTooltip="Delete this paragraph"
            mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="form-section-title">Project Logo</div>
      <div class="file-input-container">
        <input
          placeholder="Project logo"
          (change)="newLogoSelected($event.target.files)"
          type="file"
          accept=".png, .jpeg, .jpg"
          formControlName="logo"
          #fileInput
          hidden>
        <button
          type="button"
          class="select-file-button"
          (click)="fileInput.click()"
          [disabled]="isUploadDisabled"
          [class.disabled]="isUploadDisabled"
          mat-raised-button>
          Upload Logo
        </button>
        <span class="selected-file-name">{{selectedLogo?.name}}</span>
      </div>

      <!-- TODO: Add these sections -->
      <!-- <div class="form-section-title">Conclusion</div> -->
      <!-- <div class="form-section-title">Project Images</div> -->

      <button
        type="submit"
        class="submit-btn"
        [disabled]="isDisabled"
        [class.disabled]="isDisabled"
        mat-raised-button>
        Save Changes
      </button>
    </form>
  </div>

</div>
