<div id="project">

  <div class="lock-toggle">
    <span class="label">Edit Project</span>
    <mat-slide-toggle [checked]="isEditingMode" (change)="toggleEditingState()"></mat-slide-toggle>
  </div>

  <div class="form-card">
    <div class="header">
      <h1 class="title">Project</h1>
    </div>

    <form [formGroup]="projectForm" (ngSubmit)="submitForm()" class="form-container">
      <div class="form-section-title">Project Details</div>
      <mat-form-field appearance="outline">
        <mat-label>Project Title</mat-label>
        <input matInput placeholder="e.g. Parthenon" formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Year</mat-label>
        <input matInput placeholder="e.g. 2019" formControlName="year">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input matInput placeholder="e.g. Architecture Design" formControlName="category">
      </mat-form-field>

      <div class="form-section-title">Brief</div>
      <div formArrayName="brief">
        <div class="paragraphs" *ngFor="let paragraph of brief.controls; let i = index">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Brief paragraph {{i+1}}</mat-label>
            <textarea
              placeholder="e.g. This project is about..."
              [formControlName]="i"
              cdkTextareaAutosize
              matInput>
            </textarea>
          </mat-form-field>
          <button
            type="button"
            class="delete-btn"
            (click)="deleteBriefParagraph(i)"
            *ngIf="brief.length > 1"
            color="warn"
            [disabled]="!isEditingMode"
            [class.disabled]="!isEditingMode"
            mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <!-- TODO: change to plus icon and add paraagraphs at any position -->
        <!-- TODO: add tooltips over icon buttons -->
        <button
          type="button"
          class="add-paragraph-btn"
          (click)="addBriefParagraph()"
          [disabled]="!isEditingMode"
          [class.disabled]="!isEditingMode"
          mat-raised-button>
          Add new paragraph
        </button>
      </div>

      <!-- TODO: Add these sections -->
      <!-- <div class="form-section-title">Conclusion</div>
      <div class="form-section-title">Project Images</div>
      <div class="form-section-title">Project Logo</div> -->

      <button type="submit" class="submit-btn" [disabled]="isDisabled" [class.disabled]="isDisabled" mat-raised-button>Save Changes</button>
    </form>
  </div>

</div>
