#project {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .form-card {
    width: 800px;

    > .form-container {
      > .form-section-title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 16px;
      }

      > .add-conclusion-btn {
        color: white;
        background-color: #11DC60;
        margin: 0 auto 30px auto;
        width: 160px;

        &.disabled {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      .paragraphs {
        display: flex;
        align-items: center;

        > .field-control-btn {
          margin: 0 0 20px 20px;

          &.add-btn {
            background-color: #11DC60;
          }

          &.disabled {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }

        > .form-field {
          flex-grow: 1;
        }
      }

      > .file-input-container {
        margin: 4px 0 24px;

        > .select-file-button {
          background-color: black;
          color: white;
          transition: .2s;
          margin-right: 10px;

          &.disabled {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }

        > .selected-file-name {
          padding-top: 10px;
        }

        > .images {
          display: flex;
          flex-wrap: wrap;

          > .image {
            max-width: 30%;
            max-height: 200px;
            transition: .2s;

            &:hover:not(.disabled) {
              box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);

              > .delete-img-button {
                opacity: 1;
                visibility: visible;
              }
            }

            &:nth-child(3n+2) {
              margin: 0 37px;
            }

            &:nth-last-child(n+4) {
              margin-bottom: 37px;
            }

            &.disabled {
              opacity: 0.5;
            }

            &.placeholder {
              min-width: 30%;
              min-height: 100px;
              max-height: 250px;
              border: 3px dashed;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: none;

              &:active {
                border-color: rgb(12, 150, 65);

                > .mat-icon {
                  color: rgb(12, 150, 65);
                }
              }

              &:hover:not(.disabled) {
                cursor: pointer;
                box-shadow: none;
              }

              > .mat-icon {
                height: 40px;
                width: 40px;
                font-size: 40px;
              }
            }

            > img {
              max-width: 100%;
              max-height: 200px;
            }

            > .delete-img-button {
              cursor: pointer;
              opacity: 0;
              outline: none;
              visibility: hidden;
              position: absolute;
              transform: translateX(-40px);
              transition: .2s;
            }
          }
        }
      }
    }
  }

  > .lock-toggle {
    display: flex;
    align-content: center;
    margin-bottom: 20px;

    > .label {
      margin-right: 5px;
    }
  }
}
