.home {
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;

  // TODO: Add background-image when asset is available.
}
