.home {
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  background-image: url("../../assets/img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
