<mat-toolbar class="nav-toolbar" color="primary">
  <a routerLink="" class="nav-logo">
    <img src="../../assets/img/logo-white.png">
  </a>

  <div class="nav-links">
    <a routerLink="" class="nav-link-item">Home</a>
    <a routerLink="/home" fragment="about" class="nav-link-item">About</a>
    <a routerLink="/home" fragment="portfolio" class="nav-link-item">Portfolio</a>
    <a routerLink="/home" fragment="contact" class="nav-link-item">Contact & CV</a>
  </div>

  <div class="nav-links-padding">
    <button
      class="menu-button"
      [matMenuTriggerFor]="menu"
      mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu
  #menu="matMenu"
  hasBackdrop="true"
  overlapTrigger="true"
  backdropClass="menu-custom-backdrop"
  class="menu-custom-container">
  <button mat-menu-item routerLink="" class="nav-link-item">Home</button>
  <button mat-menu-item routerLink="/home" fragment="about" class="nav-link-item">About</button>
  <button mat-menu-item routerLink="/home" fragment="portfolio" class="nav-link-item">Portfolio</button>
  <button mat-menu-item routerLink="/home" fragment="contact" class="nav-link-item">Contact & CV</button>
</mat-menu>
