<mat-toolbar class="nav-toolbar" [class.handset-mode]="isHandset | async" color="primary">
  <a routerLink="" class="title-container">
    <span class="title-name">Austin</span>
    <span class="title-name">D'Souza</span>
  </a>

  <div class="nav-links" *ngIf="!(isHandset | async)">
    <a routerLink="" class="nav-link-item">Home</a>
    <a routerLink="/home" fragment="about" class="nav-link-item">About</a>
    <a routerLink="/home" fragment="portfolio" class="nav-link-item">Portfolio</a>
    <a routerLink="/home" fragment="contact" class="nav-link-item">Contact & CV</a>
  </div>

  <div class="nav-links-padding" *ngIf="!(isHandset | async)"></div>
  <button
    class="menu-button"
    [matMenuTriggerFor]="menu"
    *ngIf="isHandset | async"
    mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu
  #menu="matMenu"
  hasBackdrop="true"
  overlapTrigger="true"
  backdropClass="menu-custom-backdrop"
  class="menu-custom-container">
  <mat-toolbar>Menu</mat-toolbar>
  <button mat-menu-item routerLink="" class="nav-link-item">Home</button>
  <button mat-menu-item routerLink="/home" fragment="about" class="nav-link-item">About</button>
  <button mat-menu-item routerLink="/home" fragment="portfolio" class="nav-link-item">Portfolio</button>
  <button mat-menu-item routerLink="/home" fragment="contact" class="nav-link-item">Contact & CV</button>
</mat-menu>
