.nav-toolbar {
  // Keep navbar sticky to the top and alwasy on top.
  position: fixed;
  z-index: 999;

  display: flex;
  justify-content: space-evenly;

  background-color: black;

  &.handset-mode {
    > .menu-button {
      position: absolute;
      right: 12px;
    }
  }

  > .nav-logo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 15%;

    > img {
      height: 100%;
    }
  }

  > .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;

    > .nav-link-item {
      text-decoration: none;
      color: white;
    }
  }

  > .nav-links-padding {
    width: 15%;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
