#contact {
  margin: 10px auto 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  
  > .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .contact-item {
      padding: 10px;
      display: flex;

      > a {
        color: black;
      }
  
      > .contact-logo {
        height: 24px;
        padding-right: 10px;
      }
    }

    > .download-btn {
      width: 154px;
      height: 55px;
      margin: 10px;
      color: white;
      background-color: black;
      font-size: 12px;
    }
  }

  > .spinner {
    margin: 0 auto;
  }

  > .title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
  }

  > .underline {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
